<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vis - Web Visualizer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
		.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}
		.modal-content {
		margin: 15% auto; /* 15% from the top and centered */
		padding: 20px;
		width: 20%; /* Could be more or less, depending on screen size */
		}
		.modal-content {
		text-decoration: none;
		}
		.popup {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		}
		.popup-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 675px;
		}
		.center {
			margin: auto;
			width: 10%;
			padding: 10px;
		}
		</style>
	</head>
	<body ontouchstart="">
    {% assets "js_libs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_editor" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" src="static/js/libs/glslprep.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link id="theme" href="/static/css/light.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/js/libs/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/js/libs/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/static/js/libs/codemirror/addon/dialog.css">
    <link rel="stylesheet" href="/static/js/libs/codemirror/addon/show-hint.css">
    <link rel="stylesheet" href="/static/js/libs/codemirror/addon/tern.css">

		<script>

			window.URL = window.URL || window.webkitURL;
			window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;

			Number.prototype.format = function (){
				return this.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
			};

			//

			var editor = new Editor();

			var viewport = new Viewport( editor );
			document.body.appendChild( viewport.dom );

			var script = new Script( editor );
			document.body.appendChild( script.dom );

			var toolbar = new Toolbar( editor );
			document.body.appendChild( toolbar.dom );

			var menubar = new Menubar( editor );
			document.body.appendChild( menubar.dom );

			var sidebar = new Sidebar( editor );
			document.body.appendChild( sidebar.dom );

			var modal = new UI.Modal();
			document.body.appendChild( modal.dom );

			//

			editor.setTheme( editor.config.getKey( 'theme' ) );

			editor.storage.init( function () {

				editor.storage.get( "None", function ( state ) {

					if ( isLoadingFromHash ) return;

					if ( state !== undefined ) {

						editor.fromJSON( state );

					}

					var selected = editor.config.getKey( 'selected' );

					if ( selected !== undefined ) {

						editor.selectByUuid( selected );

					}

				} );

				//

				var timeout;

				function saveState( scene ) {

					if ( editor.config.getKey( 'autosave' ) === false ) {

						return;

					}

					clearTimeout( timeout );

					timeout = setTimeout( function () {

						editor.signals.savingStarted.dispatch();

						timeout = setTimeout( function () {

							editor.storage.set( editor.toJSON() );

							editor.signals.savingFinished.dispatch();

						}, 100 );

					}, 1000 );

				};

				var signals = editor.signals;

				signals.geometryChanged.add( saveState );
				signals.objectAdded.add( saveState );
				signals.objectChanged.add( saveState );
				signals.objectRemoved.add( saveState );
				signals.materialChanged.add( saveState );
				signals.sceneBackgroundChanged.add( saveState );
				signals.sceneFogChanged.add( saveState );
				signals.sceneGraphChanged.add( saveState );
				signals.scriptChanged.add( saveState );
				signals.historyChanged.add( saveState );

				signals.showModal.add( function ( content ) {

					modal.show( content );

				} );

			} );

			//

			document.addEventListener( 'dragover', function ( event ) {

				event.preventDefault();
				event.dataTransfer.dropEffect = 'copy';

			}, false );

			document.addEventListener( 'drop', function ( event ) {

				event.preventDefault();

				if ( event.dataTransfer.files.length > 0 ) {

					editor.loader.loadFile( event.dataTransfer.files[ 0 ] );

				}

			}, false );

			document.addEventListener( 'keydown', function ( event ) {

				switch ( event.keyCode ) {

					case 8: // backspace

						event.preventDefault(); // prevent browser back

                        break;

					case 46: // delete

						var object = editor.selected;

						if ( confirm( 'Delete ' + object.name + '?' ) === false ) return;

						var parent = object.parent;
						if ( parent !== null ) editor.execute( new RemoveObjectCommand( object ) );

						break;

					case 90: // Register Ctrl-Z for Undo, Ctrl-Shift-Z for Redo

						if ( event.ctrlKey && event.shiftKey ) {

							editor.redo();

						} else if ( event.ctrlKey ) {

							editor.undo();

						}

						break;

					case 87: // Register W for translation transform mode

						editor.signals.transformModeChanged.dispatch( 'translate' );

						break;

					case 69: // Register E for rotation transform mode

						editor.signals.transformModeChanged.dispatch( 'rotate' );

						break;

					case 82: // Register R for scaling transform mode

						editor.signals.transformModeChanged.dispatch( 'scale' );

						break;

				}

			}, false );

			function onWindowResize( event ) {

				editor.signals.windowResize.dispatch();

			}

			window.addEventListener( 'resize', onWindowResize, false );

			onWindowResize();

			//

			var isLoadingFromHash = false;
			var hash = window.location.hash;

			if ( hash.substr( 1, 5 ) === 'file=' ) {

				var file = hash.substr( 6 );

				if ( confirm( 'Any unsaved data will be lost. Are you sure?' ) ) {

					var loader = new THREE.FileLoader();
					loader.crossOrigin = '';
					loader.load( file, function ( text ) {

						editor.clear();
						editor.fromJSON( JSON.parse( text ) );

					} );

					isLoadingFromHash = true;

				}

			}

			/*
			window.addEventListener( 'message', function ( event ) {

				editor.clear();
				editor.fromJSON( event.data );

			}, false );
			*/

	       	function loadProject(uuid) {
	       		editor.clear();
	       		editor.storage.clear();
	       		editor.storage.get( uuid, function ( state ) {

	       			if ( state !== undefined ) {

	       				editor.fromJSON( state );

	       			}
	       				editor.project_uuid = uuid;

	       		} );

	       		document.getElementById('myModal').style.display = "none";
	       	}

	       	function fetchStates() {
            $.ajax({
               url: '/rest/resume_state',
               dataType: 'json',
               success: function (data) {
                 if ( data.results == "SUCCESS" ) {
                   var all_uuids = data.data.split(",");
                   saves.innerHTML = "";
                   for (var i = 0; i < all_uuids.length; i++)
                   saves.insertAdjacentHTML("beforeend", "<a href=\"#\" onClick=\"loadProject('" + all_uuids[i] + "');\" class=\"list-group-item list-group-item-action\">" + all_uuids[i] + "</a>");
                 } else {
                     console.error('[' + /\d\d\:\d\d\:\d\d/.exec(new Date())[0] + ']', 'Failed to fetch save state from server.', data.reason, data.error);
                   }
               },
               type: 'GET'
            });
	       	}

	       	var span = document.getElementsByClassName("close-win");
			span.onclick = function () {
				document.getElementById('readme').style.display = "none";
			}

	       	</script>


	       	<!-- Save States Modal -->
	       	<div id="myModal" class="modal">
	       	  <div class="modal-content">
	       			<div id="saves" class="list-group">

	       			</div>
	       	  </div>
	       	</div>

            <!-- Help Menu 'How To' -->
	       	<div id="readme" class="popup">
	       		<div class="popup-content">
	       			<h2>Hello, and Welcome to Vis: Web Visualizer!</h2>
	       			<p>Please read the following information before continuing:</p>
	       			<ul>
	       				<li>To load a previous session, click on File -> Load, then select from the popup box</li>
	       				<li>To import a model, go to File -> Import</li>
	       				<li>Once imported, adjust the aircraft dimensions on the right to match that of your selected model</li>
						<li>To import preset antenna positions, press File -> Import Antennas</li>
	       				<li>To add an antenna, click on Add -> Antenna and then enter in the desired starting coordinates - or - check 'Antenna Snapping' to the right and click on the model to add antennas</li>
	       				<li>To start a new visualization, press File -> New</li>
						<li>You may export antenna patterns to either XML or CSV files using the appropriate buttons under 'File'</li>
						<li>Likewise, to export an entire scene (model and antennas) use the 'Export Scene' button</li>
	       				<li>When an object is selected, you can adjust various characteristics from 'Object' menu on the sidebar</li>
	       				<li>You may also move an antenna along any axis by moving the axis arrows once it's selected</li>
	       			</ul>
	       			<p>If you do notice any issues with the application, please let us know on our github page. Enjoy!</p>
					<div class="center">
						<button id="input">Got It</button>
					</div>
	       		</div>
	       	</div>

	</body>
</html>
